{% extends "base.html" %}

{% block title %}Kategori - Pimbler{% endblock %}

{% block content %}
<div class="container text-center">
    <h2 class="my-4">Kategori</h2>
<div class="container">
    <button class="btn-custom">Corkcicle Canteen 9oz</button>
    <button class="btn-custom">Corkcicle Tumbler 16oz</button>
    <button class="btn-custom">Corkcicle Mug 16oz</button>
    <button class="btn-custom">Corkcicle Sport Canteen 32oz</button>
    <div class="description">
        <div class="content">
            <p>
                Tumbler Corkcicle dikenal dengan kualitas tinggi dan desain stylish. Mampu menjaga minuman panas
                tetap
                hangat hingga 3 jam dan minuman dingin tetap dingin lebih dari 9 jam. Tumbler ini dibuat dengan
                konstruksi
                baja tahan karat berlapis tiga, menjadikannya tahan lama dan efektif dalam mempertahankan suhu.
            </p>
        </div>
    </div>
</div>
{% endblock %}