{% extends "base.html" %}

{% block title %}Keunggulan - Pimbler{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-5">Keunggulan Pimbler</h1>
    <div class="card bg-light-white">
        <div class="card-body">
            <h2 class="card-title">Garansi Resmi</h2>
            <div class="content">
                <p class="card-text">Pembeliaan melalui toko resmi didertai dengan garansi, yang menjamin
                    perlindungan
                    terhadap produk dari cacat atau masalah produksi</p>
            </div>
        </div>
    </div>
    <div class="card bg-light-white">
        <div class="card-body">
            <h2 class="card-title">Varian Produk Lengkap</h2>
            <div class="content">
                <p class="card-text">Menyediakan berbagai varian produk corkcicle, termasuk tumbler, botol minum,
                    cantten, dalam berbagai ukuran, warna, dan desain</p>
            </div>
        </div>
    </div>
    <div class="card bg-light-white">
        <div class="card-body">
            <h2 class="card-title">Ketersediaan Produk Terbaru</h2>
            <div class="content">
                <p class="card-text">Produk produk edisi terbaru dan limited edition tersedia terlebih dahulu di
                    toko
                    pimbler, memberikan akses ke pilihan yang up-to-date</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
