{% extends "base.html" %}

{% block title %}Promo - Pimbler{% endblock %}

{% block content %}
<div class="container text-center">
    <h2 class="my-4">Promo Terbatas</h2>
    
    <div class="row justify-content-center">
        <!-- Tambahkan produk promo di sini -->
        {% for promo in promos %}
        <div class="col-md-4 col-lg-3 mb-4">
            <div class="card">
                <img src="{{ promo.image.url }}" class="card-img-top" alt="{{ promo.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ promo.name }}</h5>
                    <p class="card-title">{{ promo.size }}</p>
                    <p class="product-price">
                        <span>{{ promo.price }} IDR</span>
                    <p class="card-text">{{ promo.description }}</p>
                    <a href="{% url 'tumbler_detail' promo.pk %}" class="btn btn-dark">Lihat Detail</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Promo tidak tersedia saat ini.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}