{% extends "base.html" %}

{% block title %}Rekomendasi - Pimbler{% endblock %}

{% block content %}
<div class="container text-center">
    <h2 class="my-4">Rekomendasi</h2>
    
    <div class="row justify-content-center">
        <!-- Tambahkan produk rekomendasi di sini -->
        {% for product in recommended_products %}
        <div class="col-md-4 col-lg-3 mb-4">
            <div class="card">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-size">{{ product.size }}</p>
                    <p class="product-price">
                        <span>{{ product.price }} IDR</span>
                    <p class="card-text">{{ product.description }}</p>
                    <a href="{% url 'tumbler_detail' product.pk %}" class="btn btn-dark">Lihat Detail</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Tidak ada rekomendasi produk saat ini.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}